# =========================
# Python
# =========================
backend/.venv/
**/__pycache__/
*.py[cod]
.pytest_cache/

# =========================
# Node.js
# =========================
node_modules/
frontend/node_modules/
frontend/dist/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
Thumbs.db
.DS_Store
backend/ai/data/synthetic/demand_model.pkl
